#lever-input {
  background: var(--color-input-background);
  height: 2px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  /* style thumb */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: var(--color-primary);
    border: solid 2px var(--color-primary);
    border-radius: 10px;
    cursor: pointer;
  }
}
